{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                {% if not post.published_date %}
                    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">
                        Publish
                    </a>
                {% endif %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                    {% include './icons/x-octagon-fill.svg' %}
                </a>
            {% endif %}
        </aside>
        {% if post.published_date %}
            <time class="date">published: {{ post.published_date }}</time>
        {% else %}
            <time class="date">created: {{ post.created_date }}</time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}
